swift_ui_project/ItemManager/ItemManager.xcodeproj/project.xcworkspace/xcuserdata/muniao.xcuserdatad/UserInterfaceState.xcuserstate
ItemManager.xcodeproj/project.xcworkspace/xcuserdata/muniao.xcuserdatad/UserInterfaceState.xcuserstate
build/*