swift_ui_project/ItemManager/ItemManager.xcodeproj/project.xcworkspace/xcuserdata/muniao.xcuserdatad/UserInterfaceState.xcuserstate
ItemManager.xcodeproj/project.xcworkspace/xcuserdata/muniao.xcuserdatad/UserInterfaceState.xcuserstate
build/*
ItemManager/asserts/*.mp4
ItemManager/asserts/*.mp3
.DS_Store
ItemManager/asserts/也字工厂小石头.ttf
