<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用您的相机来拍摄衣物照片，以便将其添加到您的衣橱中。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问您的相册来选择衣物照片。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要访问您的相册以保存图片。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用麦克风来与您的萌宠进行语音互动。</string>
	<key>NSMotionUsageDescription</key>
	<string>我们需要访问运动数据以实现主屏幕的 3D 视差背景效果。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要语音识别功能来将您的语音转化为文字，与萌宠互动。</string>
	<key>NSWorldSensingUsageDescription</key>
    <string>我们需要使用世界感知功能来进行 3D 物体扫描。</string>
    <key>NSCameraUsageDescription</key>
    <string>我们需要使用您的相机来拍摄衣物照片和进行 3D 扫描。</string>
    <key>ARKit</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>UIAppFonts</key>
    <array>
        <string>XCDUANZHUANGSONGTI.ttf</string>
        <string>LoversQuarrel-Regular.ttf</string>
        <string>字嶼雲遊手書.ttf</string>
        <string>也字工厂小石头.ttf</string>
        <string>KouzanMouhituFont.ttf</string>
        <string>临海隶书.ttf</string>
    </array>
</dict>
</plist>
