<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用您的相机来拍摄衣物照片，以便将其添加到您的衣橱中。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问您的相册来选择衣物照片。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要访问您的相册以保存图片。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用麦克风来与您的萌宠进行语音互动。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我们需要语音识别功能来将您的语音转化为文字，与萌宠互动。</string>
</dict>
</plist>
