"CFBundleDisplayName" = "Pink House";
"NSCameraUsageDescription" = "Pink Houseは服の写真撮影と3Dスキャンのためにカメラへのアクセスが必要です。";
"NSLocationWhenInUseUsageDescription" = "Pink Houseは位置情報に基づくコーデ提案のために位置情報を使用します。";
"NSMicrophoneUsageDescription" = "Pink Houseはペットとの音声交流と録音のためにマイクへのアクセスが必要です。";
"NSMotionUsageDescription" = "Pink Houseは3Dパララックス背景のためにモーションデータを使用します。";
"NSPhotoLibraryAddUsageDescription" = "Pink Houseは画像を保存するために写真ライブラリへのアクセスが必要です。";
"NSPhotoLibraryUsageDescription" = "Pink Houseは服の写真を選ぶために写真ライブラリへのアクセスが必要です。";
"NSSpeechRecognitionUsageDescription" = "Pink Houseはペットとの音声交流とコマンドのために音声認識を使用します。";
"NSWorldSensingUsageDescription" = "Pink Houseは3D物体スキャンのためにワールドセンシングを使用します。";
